.container-home{
    font-family: "poppins";
    display: grid;
    grid-template-columns: 375px 1fr 1fr;
    color: var(--text);

}
.announcements-panel{
    width: 375px;
    h1{
        font-size: 28px;
        background: var(--primary);
        color: var(--white);
        text-align: center;
        padding: 20px 10px;
        margin: 0;
    }
    ul{
        list-style: none;
        padding: 30px 25px;
        border: 1px solid var(--gray3);
        margin: 0;
        li{
            a{
                color: var(--text2);
                text-decoration: none;
            display: flex;
            align-items: center;
            grid-gap: 15px;
            border-bottom: 1px solid var(--gray3);
            padding: 15px 0;
            font-size: 18px;
            img{
                flex-grow: 0;
                width: 25px;
                height: 25px;
                flex-shrink: 0;
            }

        }
        }
    }
}
.welcome-section{
    background: var(--primary3);
    border-radius: 20px;
    padding: 20px;
    grid-column: 2/-1;
    margin: 15px 25px;
    display: flex;
    justify-content: space-between;
.info-content{
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    h1{
        font-size: 36px;
        flex: 1;
        span{
            color: var(--primary);
            font-weight: bold;
        }
    }
    .login-text{
        position: relative;
        &::before{
            content: "";
            width: 8px;
            height: 100%;
            position: absolute;
            left: 0;
            top:0;
            background: var(--primary2);
            left: -20px;
        }
    }
    h4{
        font-size: 28px;
    }
    p{
        font-weight: 100;
        margin: 0;
    }
}

}

.login-category-panel{
    grid-column: 2 / -1;
    margin: 10px 25px;
    .login-tab{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        a{
            color: var(--text);
            text-decoration: none;
            display: flex;
        }
        .tab{
            width: 100%;
            text-align: center;
            .img{
                padding: 15px;
                height: 136px;
                img{
                    width:auto;
                    height: 100%;
                }
            }
            .info
            {
                .title{
                    margin-bottom: 20px;
                    span{
                        font-size: 70%;
                    }
                }
                p{
                    
                    font-weight: 100;
                    font-size: 12px;
                
                }
            }
            &.active{
                background: var(--primary);
                color: #fff;    
            }
        }
    }

}