@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
  --primary: #0f478e;
  --primary-light: #e6f2fe;
  --primary-dark: #0e4080;
  /*--my-secondary: #FFE7BF;
    --my-secondary-light: #fffaf2;
    --my-secondary-dark: #E6D0AC;*/
  --accent: #186dd7;
  --accent-light: #468adf;
  --accent-dark: #1662c2;
  --gray: #6e6e6e;
}

body {
  padding-top: 74px;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

header,
.header {
  max-height: 75px;
  background-color: var(--my-accent);
  color: white;
}

footer,
.footer {
  background-color: var(--my-secondary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section,
figure,
aside,
article,
figcaption {
  margin: 0;
  padding: 0
}

h1,
h2 {
  font-size: 32px;
}

h3,
h4 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

.form-control {
  border-radius: 0
}

.mybg-primary {
  background-color: var(--primary);
}

.mybg-primary-light {
  background-color: var(--primary-light);
}

.mybg-secondary {
  background-color: var(--secondary);
}

.mybg-secondary-light {
  background-color: var(--secondary-light);
}

.mybg-accent {
  background-color: var(--accent);
}

.mybg-accent-light {
  background-color: var(--accent-light);
}

/* overrides */
.navbar-dark .navbar-text {
  color: white;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  padding: 9px 20px;
}

/*.btn-primary{background-color: #186dd7;border-color: #186dd7;}
.btn-primary:hover{background-color: #fff;border-color: #186dd7;color: #186dd7;}*/

.form-wrapper {
  margin-bottom: 1.5rem;
}

.form-wrapper label {
  font-size: 1rem;
  display: block;
  color: var(--gray);
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea {
  font-size: 1rem;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid var(--gray);
  padding: 0.5rem 0;
}

.form-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
  color: black;
}


.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: white;
}

.btn-accent {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--accent-dark);
  border-color: var(--accent-dark);
  color: white;
}

.mytext-primary {
  color: var(--primary);
}

.rounded-16 {
  border-radius: 16px;
}

.section-title {
  position: relative;
  padding-left: 1rem;
}

.section-title::before {
  content: '';
  width: 8px;
  height: 100%;
  background-color: var(--accent);
  position: absolute;
  left: -8px;
  border-radius: 2px;
}

.section-title h6 {
  margin: 0;
  font-size: 1.25rem;
}

.section-title p {
  margin: 0;
  font-size: 1rem;
}

/*login page*/
.login {
  background: url(../images/school_bg.png), url(../images/school1_bg.png);
  background-repeat: no-repeat;
  background-position: -30% 0, 130% 0;
  background-size: 35%;
}

.login .loginbox {
  position: relative;
  background: url(../images/paper-education-information-university-text.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  background-position-x: 25%;
  padding: 3em 40px;
  height: 100%;
}

.login .loginbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(24 109 215 / 80%);
}

.login .loginInner {
  position: relative;
  color: #fff;
  width: 100%;
  margin: auto;
}

.login .loginInner .newSchool {
  background: #0e478e;
  padding: 20px 3em;
}

.login h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

.login h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.login h5 {
  font-size: 15px;
  font-weight: bold;
}

.login p {
  margin: 0;
  font-size: 13px;
}

.login .forgetpwd {
  color: var(--primary);
  font-weight: bold;
}

.login .forgetpwd:hover {
  color: var(--accent);
}

.login .card {
  height: 100%;
}


/*.back-to-top {font-size: 20px;position: fixed;display: none;width: 40px;height: 40px;line-height:40px;border-radius: 3px;right: 15px;
bottom: 15px;background: #0e478e;color: #fff;transition: display 0.5s ease-in-out;z-index: 99999;text-align: center;
border-radius: 50%;box-shadow: 0 0 10px #ddd;}
.back-to-top:hover{background:#fff;color: #0e478e}*/