@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
  /* --primary: #0f478e; */
  --primary: #228B22;
  --primary-light: #e6f2fe;
  --primary-dark: #0e4080;
  /*--my-secondary: #FFE7BF;
    --my-secondary-light: #fffaf2;
    --my-secondary-dark: #E6D0AC;*/
  /* --accent: #186dd7; */
  --accent: #228B22;

  --accent-light: #468adf;
  /* --accent-dark: #1662c2; */
  --accent-dark: #228B22;
  --gray: #6e6e6e;
}


.btn-primary:hover,
.btn-primary:focus {
  background-color: #228B22 !important;
}

body {
  padding-top: 74px;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

header,
.header {
  max-height: 75px;
  background-color: var(--my-accent);
  color: white;
}

footer,
.footer {
  background-color: var(--my-secondary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section,
figure,
aside,
article,
figcaption {
  margin: 0;
  padding: 0
}

h1,
h2 {
  font-size: 32px;
}

h3,
h4 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

.form-control {
  border-radius: 0
}

.mybg-primary {
  background-color: var(--primary);
}

.mybg-primary-light {
  background-color: var(--primary-light);
}

.mybg-secondary {
  background-color: var(--secondary);
}

.mybg-secondary-light {
  background-color: var(--secondary-light);
}

.mybg-accent {
  background-color: var(--accent);
}

.mybg-accent-light {
  /* background-color: var(--accent-light); */
  background-color: var(--primary);
  color: #fff;
}

/* overrides */
.navbar-dark .navbar-text {
  color: white;

}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  padding: 9px 20px;
}

/*.btn-primary{background-color: #186dd7;border-color: #186dd7;}
.btn-primary:hover{background-color: #fff;border-color: #186dd7;color: #186dd7;}*/

.form-wrapper {
  margin-bottom: 1.5rem;
}

.form-wrapper label {
  font-size: 1rem;
  display: block;
  color: var(--gray);
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea {
  font-size: 1rem;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid var(--gray);
  padding: 0.5rem 0;
}

.form-wrapper textarea {
  height: auto;
  padding: 0.25rem 0;
  resize: vertical;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
  color: black;
}

.form-wrapper input[disabled] {
  background-color: #efefef;
  border-bottom-color: lightgray;
  color: gray;
}


.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: white;
}

.btn-accent {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--accent-dark);
  border-color: var(--accent-dark);
  color: white;
}

.mytext-primary {
  color: var(--primary);
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-10 {
  border-radius: 10px;
}

.section-title {
  position: relative;
  padding-left: 1rem;
}

.section-title::before {
  content: '';
  width: 8px;
  height: 100%;
  background-color: var(--accent);
  position: absolute;
  left: -8px;
  border-radius: 2px;
}

.section-title h6 {
  margin: 0;
  font-size: 1.25rem;
}

.section-title p {
  margin: 0;
  font-size: 1rem;
}

/*login page*/
.login {
  background: url(../images/school_bg.png), url(../images/school1_bg.png);
  background-repeat: no-repeat;
  background-position: -30% 0, 130% 0;
  background-size: 35%;
}

.login .loginbox {
  position: relative;
  background: url(../images/paper-education-information-university-text.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  background-position-x: 25%;
  padding: 3em 40px;
  height: 100%;
}

.login .loginbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(24 109 215 / 80%); */
  background: #228B22
}

.login .loginInner {
  position: relative;
  color: #fff;
  width: 100%;
  margin: auto;
}

.login .loginInner .newSchool {
  background: var(--primary);
  padding: 20px 3em;
}

.login h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

.login h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.login h5 {
  font-size: 15px;
  font-weight: bold;
}

.login p {
  margin: 0;
  font-size: 13px;
}

.login .forgetpwd {
  color: var(--primary);
  font-weight: bold;
}

.login .forgetpwd:hover {
  color: var(--accent);
}

.login .card {
  height: 100%;
}

/*dashboard */

.dashboard-wraper {
  min-height: calc(100vh - 182px);
}

.sidebar {
  flex: 0 0 360px;
  border-right: 1px solid #d5d5d5;
}

.sidebar .navtitle {
  background: var(--primary);
  padding: 15px 35px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.sidebar ul {
  margin-top: 40px;
}

.sidebar ul li {
  margin-left: 15px;
  position: relative;
  margin-bottom: 10px;
}

.sidebar ul li a {
  display: flex;
  padding: 20px 20px;
  color: var(--gray);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  align-items: center;
}


.sidebar ul li a:after {
  content: '';
  position: absolute;
  right: 0;
  width: 8px;
  top: 15px;
  bottom: 15px;
  background: transparent;
}

.sidebar ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 40px;
  height: 1px;
  background: #b4b4b4;
}

.sidebar ul li img,
.sidebar ul li svg {
  margin-right: 15px;
  height: 20px;
  fill: var(--primary);
}

.sidebar ul li.active a:after,
.sidebar ul li:hover a:after {
  background: var(--primary)
}

.sidebar ul li.active a,
.sidebar ul li:hover a {
  box-shadow: 0 0 20px #e6e6e6;
  color: #2c2c2c;
}

.sidebar ul li:hover a:before,
.sidebar ul li.active a:before {
  background: transparent
}

.dashboard-wraper .content {
  flex: 1;
  background: url(../images/school_bg.png) no-repeat;
  background-position: 100% 0;
  background-size: 30%;
  background-repeat-y: repeat;
}

.welcomebox {
  background: #e6f2fe;
  border-radius: 20px;
  padding: 40px 50px;
}

.welcomebox h1 {
  /*margin-left: 35px;*/
  color: var(--gray);
  font-weight: 700;
  /*margin-bottom: 70px;*/
}

.welcomebox h1 span {
  color: var(--primary);
}

.welcomebox img {
  max-width: 150px;
}

.welcomebox h2 {
  border-left: 15px solid var(--accent);
  padding-left: 20px;
  color: #707070;
  font-weight: 600;
}

.welcomebox h2 span {
  color: #979797;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}

.dashboard-row .box {
  background: white;
  border: 1px solid #d5d5d5;
  padding: 20px;
  transition: .5s;
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.dashboard-row .box svg,
.dashboard-row .box img {
  height: 90px;
  width: 100%;
  object-fit: contain;
}

.dashboard-row .box svg {
  fill: var(--primary);
}

.dashboard-row .box h4 {
  color: #707070;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.dashboard-row .box h5 {
  color: #a5a5a5;
  font-size: 18px;
  font-weight: bold;
}

.dashboard-row .box p {
  margin: 0;
  /*font-size: 13px;*/
  color: var(--gray);
}

.dashboard-row .box:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.dashboard-row .box:hover h4,
.dashboard-row .box:hover h5,
.dashboard-row .box:hover p {
  color: #fff;
}

.dashboard-row .box:hover svg {
  fill: white;
}

/*.back-to-top {font-size: 20px;position: fixed;display: none;width: 40px;height: 40px;line-height:40px;border-radius: 3px;right: 15px;
bottom: 15px;background: var(--primary);color: #fff;transition: display 0.5s ease-in-out;z-index: 99999;text-align: center;
border-radius: 50%;box-shadow: 0 0 10px #ddd;}
.back-to-top:hover{background:#fff;color: var(--primary)}*/

.upload-box {
  border: 2px dashed var(--primary);
  border-radius: 1.5rem;
  color: var(--accent);
  position: relative;
}

.upload-box img {
  width: 4rem;
}

.upload-box label {
  background: white;
  padding: 2rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 1.75rem;
}

.upload-box input[type="file"] {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: -1;
}

.table-accent thead {
  background-color: var(--accent);
  color: white;
}

.table-accent thead th {
  border-color: var(--accent);
}

.table .form-wrapper {
  margin: 0;
}

.check-slot {
  text-decoration: none;
  color: var(--primary);
}

.check-slot svg {
  fill: var(--primary);
  height: 16px;
  width: 16px;
}

@media(max-width:991.8px) {
  .menuOpen {
    overflow-x: hidden;
  }

  .sidebar {
    position: fixed;
    z-index: 111;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translate3d(101%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    justify-content: end;
  }

  .sidebar ul {
    margin-top: 1rem;
  }

  .sidenav {
    width: 300px;
    margin-left: auto;
    background: #fff;
    overflow-y: auto;
  }

  .sidebar.show {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.3s;
    /*transition-delay: 0.2s;*/
  }

  .openmenu-toggler {
    color: #fff;
    border: 0;
    margin-left: 10px;
    box-shadow: none !important;
  }

  .openmenu-toggler svg {
    height: 35px;
    width: 35px;
  }

  .sidebar .navtitle {
    padding: 10px 35px;
    font-size: 20px;
  }

  .mobileToggler {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileToggler img {
    max-width: 160px;
  }

  .mobileToggler .closetogglerbtn {
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    border-radius: 50%;
  }


  .mobileToggler .closetogglerbtn svg {
    width: 24px;
    height: 24px;
    fill: var(--primary);
  }
}


tr.invalid {
  border-color: red;
}

.table .invalid {
  animation: 3s invalid infinite;
}

.table .row.decreased {
  animation: 1s decreased infinite;
}

@keyframes invalid {
  0% {
    background: initial;
  }

  50% {
    background: rgb(227, 162, 162);
  }

  100% {
    background: initial;
  }
}

@keyframes decreased {
  0% {
    background: initial;
  }

  50% {
    background: red;
  }

  100% {
    background: initial;
  }
}


@media screen and (max-width: 599px) {
  .welcomebox {
    padding: 20px;
  }
}

/* modal design  start */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

td.paid {
  color: green !important;
}

td.unpaid {
  color: red !important;
}

.hidepayment {
  display: none;
}

.showpayment {
  display: block;
}

.paymentErr {
  width: 100%;
  height: 100%;
  position: relative;
  top: 45%;
}

/* modal design  end */



/*.back-to-top {font-size: 20px;position: fixed;display: none;width: 40px;height: 40px;line-height:40px;border-radius: 3px;right: 15px;
bottom: 15px;background: #0e478e;color: #fff;transition: display 0.5s ease-in-out;z-index: 99999;text-align: center;
border-radius: 50%;box-shadow: 0 0 10px #ddd;}
.back-to-top:hover{background:#fff;color: #0e478e}*/